{% extends "layout.html" %}
{% block content %}
    <body>
        <h1>Add Tags</h1>
        <div class="tag-selector">
            <form method="post" action={{url_for('add_tag', question_id=question_id)}}>
                <ul class="tag-list">
                    {% for tag in tags %}
                        <li><input type="checkbox" name="{{ tag.name }}" value="{{ tag.id }}">{{ tag.name }}</li>
                    {% endfor %}
                    <input class="tag-input" type="text" name="new_tag" placeholder="Add new tag">
                </ul>
                <div class="card-comment">
                    <button class="tag-button" value="submit">Update question tags</button>
                    <button class="tag-button" onclick="location.href='{{ url_for('load_question_page', question_id=question_id) }}'">Back to question</button>
                </div>
            </form>

        </div>
    </body>
{% endblock %}
