<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Overflow</title>
    <style>
        th {
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <a href="/list"><input type="image" src="/images/logo.png" /></a>
    <hr>
    <table>
        <tr>
            {% for column_title in header %}
                <th> {{ column_title.replace("_", " ").title() if column_title not in "image" }}
                    {% if column_title not in ["id","image"] %}
                        <a href="/list?sort_by={{ column_title }}&order=asc">˄</a>
                        <a href="/list?sort_by={{ column_title }}&order=desc">˅</a>
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        {% for question in questions %}
            <tr>
                {% for cell in question %}
                    {% if cell == "title" %}
                        <td><a href="/question/{{ question["id"] }}">{{ question[cell] }}</a></td>
                    {% elif cell == "image" %}
                        <td><img src=" {{ question["image"] }}" width="50"></td>
                    {% else %}
                        <td>{{ question[cell] | safe }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>