{% extends "layout.html" %}
{% block page_title %}Home{% endblock %}
{% block navbar %}
<div class="main-nav">
    <form class="nav-search" action="/search">
        <input name="q" type="text"><button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div><a href="/list" type="submit">All question</a></div>
    <div><a href="/add-question" type="submit">Add new question</a></div>
<div>
    <label for="sort_by">Sort by:</label>
    <select onchange="location = this.value" name="sort_by" id="sort_by">
        {% if request.args.get("sort_by") == None %}
            <option value="/list">Select an option to sort questions</option>
        {% else %}
            <option value="/list?sort_by={{ request.args["sort_by"] }}&order={{ request.args["order"] }}">
                {{ request.args["sort_by"].replace("_", " ").title()+"("+request.args["order"]+")" }}
            </option>
        {% endif %}
        {% for column in columns if column not in ['id','image'] %}
            <option value="/list?sort_by={{ column }}&order=asc">{{ column.replace('_', ' ').capitalize() }}(asc)</option>
            <option value="/list?sort_by={{ column }}&order=desc">{{ column.replace('_', ' ').capitalize() }}(desc)</option>
        {% endfor %}
    </select>
</div>

</div>
{% endblock %}
{% block content %}
    {% for question in questions %}
        <div class="question-card">
            <div class="card-title"><a href="/question/{{question.id}}">{{ question.title }}</a></div>
            <div class="card-message">{{ question.message }}</div>
            <div class="card-vote-number">votes: {{ question.vote_number }}</div>
            <div class="card-view-number">views: {{ question.view_number }}</div>
            <img class="card-image" src="{{ question.image }}">
            <div class="card-smt"><label for ="card-smt" >created:&nbsp;</label><span id="card-smt">{{ question.submission_time.date() }}<br>&ensp;{{ question.submission_time.time() }}</span></div>
        </div>
    {% endfor %}
{% endblock %}
