{% extends "layout.html" %}
{% block navbar %}
    <div class="main-nav">
        <div><a href="{{ url_for('load_main') }}">Home Page</a></div>
        <div><a href="{{ url_for('load_list_page') }}">All questions</a></div>
    </div>
{% endblock %}
{% block content %}
    {% for question in payload.question %}
    <div class="question-card-self-page">
        <div class="card-title"><h3>{{ question.title }}</h3></div>
        <div class="card-message">{{ question.message }}</div>
        <img class="card-image" src={{url_for('images', filename=question.image) }}>
        <div class="card-misc">
            <div class="card-vote-number">votes: <span>{{ question.vote_number }}</span></div>
            <div class="card-view-number">views: <span>{{ question.view_number }}</span></div>
            <div class="card-smt">created:&nbsp;<span id="card-smt">{{ question.submission_time.date() }}<br>&ensp;{{ question.submission_time.time() }}</span></div>
        </div>
        <div class="card-button">
            <button onclick="location.href='{{ url_for('route_add_answer',question_id=question.id) }}'">Add New Answer</button>
            <button onclick="location.href='{{ url_for('route_add_comment_to_question',question_id=question.id) }}'">Add new comment</button>
            <button onclick="location.href=''">Add new tag</button>
            <button onclick="location.href=''">Edit Question</button>
            <button onclick="location.href='{{ url_for('delete_record_by_id', table="question", value=question.id) }}'">Delete Question</button>
        </div>
        <ul class="card-tag">
            {% for tag in payload.tags %}
                <li>{{ tag }} <a href="{{ url_for('delete_tag_from_question', tag_id=tag.id, question_id=question_id) }}"><i style="color: red" class="fa fa-times"></i></a></li>
                {% endfor %}
        </ul>
        <ul class="card-comment">
            {% if payload.question_comments %}
            {% for comment in payload.question_comments if comment.question_id == question.id %}
                <ul class="card-comment-line">
                    <li>{{ comment.message }}</li>
                    <li>{{ comment.submission_time }}</li>
                    <li>{{ comment.edited_count }}</li>
                    <li><button onclick="location.href='{{ url_for('route_edit_comment', comment_id=comment.id) }}'">Edit comment</button></li>
                    <li><a href="{{ url_for('delete_comment', comment_id=comment.id) }}" onclick="return confirm('Do you want to delete?')"><i class="fa fa-trash"></i></a></li>
                </ul>
                {% endfor %}
                {% else %}
                <span>There are no comments yet</span>
            {% endif %}
        </ul>

    </div>
        {% endfor %}

    <h1 style="margin: 0;padding: 0">{{ payload.answers | length }} Answers:</h1><br>


    {% for answer in payload.answers %}
        <div class="answer-card">
            <div class="card-title"><h3>{{ answer.title }}</h3></div>
            <div class="card-message">{{ answer.message }}</div>
            <img class="card-image" src={{url_for('images', filename=answer.image) }}>
            <div class="card-misc">
                <div class="card-vote-number">votes: <span>{{ answer.vote_number }}</span></div>
                <div class="card-smt">created:&nbsp;<span id="card-smt">{{ answer.submission_time.date() }}<br>&ensp;{{ answer.submission_time.time() }}</span></div>
            </div>
            <div class="card-button">
                <button onclick="location.href='/answer/{{ answer['id'] }}/delete'">Delete Answer</button>
                <button onclick="location.href='/answer/{{ answer['id'] }}/new-comment'">Add new comment</button>
                <button onclick="location.href='/answer/{{ answer['id'] }}/edit'">Edit answer</button>
            </div>
            {% if payload.answer_comments %}
                <ul class="card-comment">
                    {% for comment in payload.answer_comments if comment.answer_id == answer.id %}
                        <ul class="card-comment-line">
                            <li>{{ comment.message }}</li>
                            <li>{{ comment.submission_time }}</li>
                            <li>{{ comment.edited_count }}</li>
                            <li><button onclick="location.href='{{ url_for('route_edit_comment', comment_id=comment.id) }}'">Edit comment</button></li>
                            <li><a href="{{ url_for('delete_comment', comment_id=comment.id) }}" onclick="return confirm('Do you want to delete?')"><i class="fa fa-trash"></i></a></li>
                        </ul>
                        {% endfor %}
                </ul>
                {% endif %}
        </div>
    {% endfor %}
{% endblock %}
