{% extends "layout.html" %}
{% block navbar %}
    <div class="main-nav">
        <div><a href="/">Home Page</a></div>
        <div><a href="/list">All questions</a></div>
        <div><a href='/question/{{ question_id }}/new-answer'>Add New Answer</a></div>
    </div>
{% endblock %}
{% block content %}
	<h1>Question {{ question_id }}</h1>
    <div class="question-card_for_one">
        <tr>
            {% for cell in question %}
                <div class="card-title"><th>{{ cell.title }}</th></div>
            {% endfor %}
        </tr>
        <tr>
        {% for cell in question %}
            <div class="card-message"><td>{{ cell.message }}</td></div>
        {% endfor %}
            <div><td><button onclick="location.href='/question/{{ question_id }}/delete'">Delete Question</button></td></div>
            <div><td><button onclick="location.href='/question/{{ question_id }}/edit'">Edit Question</button></td></div>
            <div><td><button onclick="location.href='/question/{{ question_id }}/new-comment'">Add new comment</button></td></div>
            <div><td><button onclick="location.href='/question/{{ question_id }}/new-tag'">Add new tag</button></td></div>
        </tr>
    <table>
    <tr>
        {% for tag in tags %}
                <div class="card-message"><th>{{ tag.name }} <a href="{{ url_for('delete_tag_from_question', tag_id=tag.id, question_id=question_id) }}"><i style="color: red" class="fa fa-times-circle"></i></a>,</th></div>
        {% endfor %}
    </tr>
    </table>
    </div>
    {% if comment_for_question %}
        <div  class="question-card_for_comment">
            <table>
                {% for comment in comment_for_question %}
                    <tr>
                        {% for cell in comment %}
                            {% if cell in ["message", "submission_time"] %}
                                <div><td>{{ comment[cell] }}</td></div>
                            {% elif cell in ["edited_count"]%}
                                <div><td>Edited {{ comment[cell] }} times</td></div>
                            {% endif %}
                        {% endfor %}
                    <td><button onclick="location.href='/comment/{{ comment['id'] }}/edit'">Edit comment</button></td>
                    <td><a href="{{ url_for('delete_comment', comment_id=comment.id) }}" onclick="return confirm('Do you want to delete?')"><i style="color: red" class="fa fa-trash"></i>
                                </a></td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    {% endif %}
    <form method="get" action="/">
        <button type="submit">Back to main page</button>
    </form>
	<h1 style="margin: 0;padding: 0">Answers:</h1><br>
{#    <div class="question-card_for_one">#}
    <div>
    <table>
        <tr>
            {% for column_title in answer_headers %}
                <th>{{ column_title.replace("_", " ").title() }}</th>
            {% endfor %}
        </tr>
        {% for answer in answers %}
            <tr>
                {% for cell in answer %}
                    {% if cell == "image" %}
                        <td><img class="card-image" src="{{ answer[cell] }}"></td>
                    {% elif cell == "vote_number" %}
                        <td style="text-align: center; white-space: nowrap">
                            <button class="vote_button" onclick="location.href='/answer/{{ answer.id }}/vote-up'" type="submit">+</button>
                            {{ answer[cell] | safe }}
                            <button class="vote_button" onclick="location.href='/answer/{{ answer.id }}/vote-down'" type="submit">-</button>
                        </td>
                    {% else %}
                        <td style="text-align: center">{{ answer[cell] | safe }}</td>
                    {% endif %}
                {% endfor %}
                <td><button onclick="location.href='/answer/{{ answer['id'] }}/delete'">Delete Answer</button></td>
                <td><button onclick="location.href='/answer/{{ answer['id'] }}/new-comment'">Add new comment</button></td>
                <td><button onclick="location.href='/answer/{{ answer['id'] }}/edit'">Edit answer</button></td>
            {% for comment in comment_for_answers %}
                {% if comment['answer_id'] == answer['id'] %}
                    <tr  class="for_comment">
                        {% for cell in comment %}
                            {% if cell in ["submission_time"] %}
                                <div><td>{{ comment[cell] }}</td></div>
                            {% elif cell in ["message"] %}
                                <div><td>{{ comment[cell] }}</td></div>
                            {% elif cell in ["edited_count"] %}

                                <div><td>Edited {{ comment[cell] }} times</td></div>
                            {% endif %}
                        {% endfor %}
                        <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                    <td><button onclick="location.href='/comment/{{ comment['id'] }}/edit'">Edit comment</button></td>
                    <td><a href="{{ url_for('delete_comment', comment_id=comment.id) }}" onclick="return confirm('Do you want to delete?')"><i style="color: red" class="fa fa-trash"></i>
                                </a></td>
                        {% endif %}
                    {% endfor %}
                    </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
