{% extends "layout.html" %}
{% block content %}
    <div class="content">
	<h1>Question {{ question_id }}</h1>
    <table>
        <tr>
            {% for column_title in question_headers %}
                {% if column_title in ["title","message"] %}
                 <th> {{ column_title.replace("_", " ").title() | safe if column_title not in "image" }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
        {% for cell in question %}
                {% if cell in ["title", "message"] %}
                    <td>{{ question[cell] | safe }}</td>
                {% endif %}
        {% endfor %}
        </tr>
    </table><br>
	<h1 style="margin: 0;padding: 0">Answers:</h1><br>

	<table>
        <tr style="background-color: white">
                {% for column_title in answer_headers %}
                    <th style="position: sticky; top: 275px; background-color: white"> {{ column_title.replace("_", " ").title() if column_title not in "image" }}</th>
                {% endfor %}
            </tr>
        {% for answer in answers %}
            <tr>
                {% for cell in answer %}
                    {% if cell == "image" %}
                        <td><img src=" {{ answer["image"] }}" width="50"></td>
                    {% else %}
                        <td style="text-align: center">{{ answer[cell] | safe }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <a href="/">Back to main menu</a>
    </div>
{% endblock %}
