{% extends 'layout.html' %}
{% block page_title %}
    Tags
{% endblock %}
{% block navbar %}
<div class="main-nav">
    <form class="nav-search" action="/search">
        <input name="q" type="text"><button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <div><a href="{{ url_for('load_main') }}">Home Page</a></div>
    <div><a href="/list" type="submit">All question</a></div>
    <div><a href="{{ url_for('load_tags_page') }}" type="submit">Tags</a></div>
</div>
{% endblock %}
{% block content %}
    <div class="tag-page-container">
    <table class="tag-page-table">
    <tr><th>Tag name</th><th>Tagged questions</th></tr>
    {% for tag in tags %}
    <tr><td>{{ tag.name }}</td>
        <td>{{ tag.count }}</td></tr>
    {% endfor %}
    </ul>
    </table>
    </div>
{% endblock %}